* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
.section{
    background-color: #265ee9;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.container-1 {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10%;
    text-align: center;
}

.link > a  {
    padding: 5px;
    color: #ffffff;
}
.login {
    text-align: center;
    width: 10%;
    color: #000000;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px;
}

.integer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

.container-2 {
    width: 60%;
    max-width: 900px;
    margin: 0 auto;
}

.title-important {
    text-align: center;
    color: #ffffff;
    font-family: Whitney, "Helvetica neuve", Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

.paragraph {
    color: #ffffff;
    text-align: center;
}

.mac, .browser {
    border-radius: 20px;
    font-size: 15px;
    margin: 20px 10px;
}

.mac {
    background-color: #ffffff;
    text-align: center;
    padding: 8px;
}

.browser {
    background-color: #000000;
    color: #ffffff;
    padding: 9px;
}

.backg-1 {
    background-color: #ffffff;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-3{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-3 {
    width: 60%;
}

.box-4 {
    width: 40%;
    text-align: left;
    padding-left: 20px;
}

strong {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.paragraph-1 {
   margin-top: 15px; 
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
}
.backg-2 {
    background-color: #d3d3d3;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-5 {
    width: 40%;
    padding-bottom: ;
}

.box-6 {
    width: 60%;
}

.backg-3{
    background-color: #d3d3d3;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-7 {
    width: 100%;
    height: 550px;
    background-color: #238b21;
}

.backg-4 {
    background-color: #23272a;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-1 {
    width: 30%;
    height: 350px;
    background-color: #f08080;
    border: 1px solid #ffffff;
}

.rectangle-2 {
    width: calc(70%/4);
    height: 350px;
    background-color: #21b2aa;
    border: 1px solid #ffffff;
}

.rectangle-3 {
    width: calc(70%/4);
    height: 350px;
    background-color: #21b2aa;
    border: 1px solid #ffffff;
}

.rectangle-4 {
    width: calc(70%/4);
    height: 350px;
    background-color: #21b2aa;
    border: 1px solid #ffffff;
}

.rectangle-5 {
    width: calc(70%/4);
    height: 350px;
    background-color: #21b2aa;
    border: 1px solid #ffffff;
}

.backg-5 {
    background-color: #23272a;
    margin-top: 1px;
    display: flex;
    padding-top: 20px;
}

.container-4 {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

    /* debug */
    min-height: 40px;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* debug */
    background-color: #7fffd4;
    height: 40px;
}

.logo-2 {
    background-color: #ffb6c2;
    width: 50px;
    text-align: center;
    border: 1px solid #000000;
}

button{
    background-color: #ffb6c2;
    width: 60px;
}
